[submodule "work/tapclap/QA-Test-Assignment-RU/external/zg-journal-template"]
	path = work/tapclap/QA-Test-Assignment-RU/external/zg-journal-template
	url = https://github.com/Zhovten-Games/zg-journal-template.git
